.top1 {
    width: 90%;
    font-size: 15px;
    color: #72413d;
    margin-left: 5%;
    margin-top: 10%;
}

.top3 {
    width: 100%;
    text-align: center;
    margin-top: 30%;
}

.top3 input {
    width: 60%;
    line-height: 43px;
    border-bottom: 2px #c7c7c7 solid;
    font-size:14px;
}

.top3 #vcode {
    width: 38%;
    line-height: 50px;
    border-bottom: 2px #c7c7c7 solid;
   
}

.top3 #btn2 {
    width: 21%;
    height: 30px;
    line-height: 33px;
    border: 0;
    font-size: 12px;
    color: #ffffff;
    background-image: linear-gradient( #72413d, #72413d), linear-gradient( #0c86eb, #0c86eb);
    background-blend-mode: normal, normal;
    border-radius: 4px;
}

button {
    width: 60%;
    margin-top: 15%;
    height: 35px;
    color: #ffffff;
    background-image: linear-gradient( #72413d, #72413d), linear-gradient( #0c86eb, #0c86eb);
    background-blend-mode: normal, normal;
    border-radius: 4px;
    font-size:15px;
    line-height: 4px;
    border-width: 0px;
}

body {
    width: 100%;
}